body {
  background-image: url("https://images.pexels.com/photos/207253/pexels-photo-207253.jpeg?auto=compress&cs=tinysrgb&w=600");
}
* {
  font-family: sans-serif;
  font-size: 1rem;
}

header {
  display: inline;
}

.app {
  padding-left: 10%;
  padding-right: 10%;
}

.sticky-top {
  position: relative;
  z-index: 10 !important;
}
