.custom-navbar {
    background-color: black;
  }
  
  .vertical-divider {
    width: 0.08vw;
    height: 1vw;
    background-color: #474444;
    align-self: center;
  }
  
  .nav-link {
    color: white !important;
    font-size: 1.2rem;
    text-decoration: none;
    margin: 0.1vw;
  }
  
  .nav-link:hover {
    background-color: initial !important;
    color: #fbba00 !important;
  }

  
  .nav-link.active {
    color: #fbba00 !important;
  }

  